# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.URPLearning.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\URPLearning\URPLearning\URPLearning\.idea\.idea.URPLearning\.idea/dataSources/
/dataSources.local.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
